html,
body,
#root,
.Pokedex {
  height: 100%;
  margin: 0;
}

.Pokedex {
  background-color: #db3b2f;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.background-image {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 400px;
  height: auto;
  pointer-events: none;
  z-index: -1;
}

.background-image img {
  width: 400px;
  height: auto;
}

.search-container {
  z-index: 1;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 700px;
  position: relative;
}

.search-bar {
  width: 100%;
  padding: 20px;
  padding-right: 48px;
  font-size: 16px;
  border-color: rgb(5, 5, 41);
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 0 12px 8px rgba(0, 0, 0, 0.2);
}

.search-button {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.search-button:hover {
  transform: translateY(-50%) scale(1.3);
}

.pokeball-icon .outline {
  transition: fill 0.2s;
}

.search-button:hover .pokeball-icon .outline {
  fill: red;
}

.card-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 20px;
}

.error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  max-width: 80%;
  z-index: 10;
}

.horizontal-list {
  display: flex;
  overflow-x: auto;
  padding: 20px 0;
  width: 100%;
  gap: 15px;
  margin-top: 300px;
}

.horizontal-list::-webkit-scrollbar {
  height: 8px;
}

.horizontal-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.horizontal-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.horizontal-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
